<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h2> Select a membership type </h2>
      {% for object in object_list%}
        <h2>{{object.membership_type}}</h2>
        <p>Price: ${{object.price}}/month</p>

        <p> Included Courses</p>
          {% if object.membership_type != 'Free'%}
              <form class="" action="{%url 'membership:memberships'%}" method="POST">
                {% csrf_token%}
                {% if object.membership_type != current_membership%}
                  <button type="button" name="button"> Select</button>
                {%else%}
                  <p>This is your Current Membership</p>
                {%endif%}
                <input type="hidden" name="membership_type" value="{{object.membership_type}}">
              </form>
          {%endif%}
          {%endfor%}

  </body>
</html>
